---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout title="Donuts!">
  {/* MAIN----------------------------------------------- */}
  <main class="w-full min-h-screen bg-[#E6E7E1]">
    {/* BANNER----------------------------------------------- */}
    <div class="w-full md:h-[882px] h-screen banner relative flex">
      {/* BANNER CONTENT----------------------------------------------- */}
      <div
        class="max-w-[1500px] w-full mx-auto self-end text-white z-50 flex flex-col gap-4 px-3"
      >
        {/* TITLE----------------------------------------------- */}
        <div class="text-[min(15vw,80px)] font-semibold">
          Dive into Donut Paradise!
        </div>
        {/* SUBTITLE----------------------------------------------- */}
        <div class="text-[min(4.5vw,19px)] max-w-[882px] font-light">
          Join Us in a Journey of Culinary Exploration, Where a World of Flavors
          Awaits in Every Bite. Our Donuts Are More Than Just Pastries; They Are
          Handcrafted Pieces of Art Designed to Elevate Your Senses.
        </div>
        {/* SHOP NOW BUTTON----------------------------------------------- */}
        <div class="text-[min(3.7vw,16px)] font-semibold flex pb-20 pt-6">
          <div class="bg-[#9959d0] py-[14px] px-7 rounded-full cursor-pointer">
            Shop Now
          </div>
        </div>
      </div>
      {/* BOT SHADOW----------------------------------------------- */}
      <div class="w-full h-full bannerShadowBot absolute"></div>
    </div>
    <div class="pt-20 w-36 h-36 donut1"></div>
  </main>
</Layout>

<style></style>
