---
import { HiOutlineShoppingBag } from "react-icons/hi";
import { BiSearch } from "react-icons/bi";
import { BsChevronDown} from "react-icons/bs";
---

<div class="w-full h-[70px] bg-[#E6E7E1] flex font-medium">
  <div class="m-auto flex max-w-[1800px] w-full relative">
    {/* LEFT CONTENT----------------------------------------------- */}
    <div
      class="my-auto text-[#565f68] text-[min(5.5vw,30px)] absolute left-0 fixedCenterY pl-3 font-bold tracking-tight"
    >
      DOGUR
    </div>
    {/* HIDDEN AFTER XL----------------------------------------------- */}
    <div class="xl:flex hidden">
      {/* MIDDLE CONTENT----------------------------------------------- */}
      <div
        class="flex text-[min(4.5vw,16px)] gap-20 text-[#313d47] absolute fixedCenterXnY"
      >
        <div class="my-auto cursor-pointer">Catalogue</div>
        <div class="my-auto cursor-pointer">About</div>
        <div class="my-auto cursor-pointer">Testimonials</div>
      </div>

      {/* RIGHT CONTENT----------------------------------------------- */}
      <div
        class="flex text-[min(4.5vw,20px)] gap-[45px] absolute right-0 fixedCenterY pr-3"
      >
        <div class="my-auto flex text-[min(4.5vw,15px)]">
          <div>USD</div>
          <div>$</div>
          {/* DOWN ICON----------------------------------------------- */}
          <div class="my-auto ml-1">
            <BsChevronDown />
          </div>
        </div>
        {/* SEARCH ICON----------------------------------------------- */}
        <div class="my-auto">
          <BiSearch />
        </div>
        {/* BAG ICON----------------------------------------------- */}
        <div class="my-auto">
          <HiOutlineShoppingBag />
        </div>
        {/* SHOP NOW BUTTON----------------------------------------------- */}
        <div class="text-[min(3.5vw,15px)] flex text-white">
          <div class="bg-[#9959d0] py-2 px-7 rounded-full cursor-pointer">
            Login
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
