---
import { FcCloseUpMode } from "react-icons/fc";
import { AiOutlineEye } from "react-icons/ai";
---

<div
  class="h-[min(200vw,825px)] w-full sm:w-[510px] insta rounded-3xl shadowStory xl:mx-0 m-auto relative"
>
  <div class="w-full h-full absolute storyShadowBot"></div>
  <div
    class="sm:ml-4 ml-2 top-0 left-0 w-[min(75vw,400px)] h-[min(14vw,55px)] bg-[#00000086] absolute sm:mt-6 mt-[10px] rounded-full flex text-white"
  >
    <div
      class="my-auto user h-[min(12.5vw,48px)] w-[min(12.5vw,48px)] rounded-full ml-1"
    >
    </div>
    <div class="flex flex-col text-[min(4vw,15px)] text-white my-auto ml-3">
      <div>Sophia Turner</div>
      <div class="font-light">102.8K Me gusta</div>
    </div>
    <div
      class="bg-[#9959d0] absolute right-0 rounded-full font-light fixedCenterY py-3 px-5 mr-1"
    >
      Seguir
    </div>
  </div>

  <div
    class="sm:ml-4 ml-2 top-0 left-0 bg-[#00000086] sm:mt-[86px] mt-[70px] absolute rounded-full flex pr-1"
  >
    <div class="my-auto flex py-[11px] px-4 text-white">
      <div class="m-auto text-[min(16vw,25px)] mr-2">
        <AiOutlineEye />
      </div>
      <div class="text-[min(4vw,15px)]">1.7K</div>
    </div>
  </div>

  <div
    class="sm:ml-4 ml-2 bottom-0 left-0 w-[min(70vw,400px)] h-[min(14vw,48px)] bg-[#ffffff37] absolute sm:mb-6 mb-[10px] rounded-full flex"
  >
    <div class="my-auto pl-5 text-[#d2d0d0] text-[min(4vw,15px)]">
      Comentar...
    </div>
  </div>

  <div
    class="sm:mr-4 mr-2 bottom-0 right-0 w-[min(19vw,47px)] h-[min(19vw,47px)] bg-[#ffffff37] sm:mb-[26px] mb-[10px] absolute rounded-full flex"
  >
    <div class="m-auto text-[min(16vw,25px)]"><FcCloseUpMode /></div>
  </div>
</div>
