---
const { description, name, image } = Astro.props;
---

<div
  class="sm:w-[375px] w-full bg-white rounded-3xl p-6 flex flex-col gap-2 mx-auto"
>
  <div
    class={`${image} w-[min(15vw,56px)] h-[min(15vw,56px)] bg-lime-600 rounded-full`}
  >
  </div>
  <div class="text-[min(6vw,23px)]">{name}</div>
  <div class="text-[min(4.6vw,19px)] max-w-[882px] font-light text-[#494949]">
    {description}
  </div>
</div>
