---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="rope">
    <Navbar />
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: rope;
    src: url(../../public/Manrope-VariableFont_wght.ttf);
  }

  .rope {
    font-family: rope;
  }
  .donut1 {
    background-image: url(../assets/donut1.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .banner {
    background-image: url(../assets/banner.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .bannerShadowBot {
    background: linear-gradient(
      360deg,
      rgba(28, 28, 28, 0.89) 1%,
      rgba(28, 28, 28, 0) 40%
    );
  }

  .fixedCenterY {
    top: 50%;
    transform: translateY(-50%);
  }

  .fixedCenterX {
    left: 50%;
    transform: translateX(-50%);
  }

  .fixedCenterXnY {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
