---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Navbar from "../components/Navbar.jsx";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="rope">
    <Navbar client:load />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    background-color: #eeefe9;
  }
  @font-face {
    font-family: rope;
    src: url(../../public/Manrope-VariableFont_wght.ttf);
  }

  .rope {
    font-family: rope;
  }

  @font-face {
    font-family: mark;
    src: url(../../public/MarckScript-Regular.ttf);
  }

  .mark {
    font-family: mark;
  }
  .donut1 {
    background-image: url(../assets/donut1.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .donut2 {
    background-image: url(../assets/donut2.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .donut3 {
    background-image: url(../assets/donut3.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .donut4 {
    background-image: url(../assets/donut4.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .donut5 {
    background-image: url(../assets/donut5.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .donut6 {
    background-image: url(../assets/donut6.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .story {
    background-image: url(../assets/story.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .insta {
    background-image: url(../assets/insta.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .variants {
    background-image: url(../assets/variants.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .banner {
    background-image: url(../assets/banner.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .user {
    background-image: url(../assets/user.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .bannerShadowBot {
    background: linear-gradient(
      360deg,
      rgba(28, 28, 28, 0.89) 1%,
      rgba(28, 28, 28, 0) 40%
    );
  }

  .storyShadowBot {
    background: linear-gradient(
      360deg,
      rgba(28, 28, 28, 0.764) 1%,
      rgba(28, 28, 28, 0) 25%
    );
    @apply rounded-3xl;
  }

  .fixedCenterY {
    top: 50%;
    transform: translateY(-50%);
  }

  .fixedCenterX {
    left: 50%;
    transform: translateX(-50%);
  }

  .fixedCenterXnY {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .turn {
    transform: scaleX(-1);
  }
  .glass {
    background: rgba(238, 239, 233, 0.89);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5.7px);
  }
  .wavy {
    text-decoration: underline;
    -webkit-text-decoration-color: #9959d0;
    text-decoration-color: #9959d0;
    -webkit-text-decoration-style: wavy;
    text-decoration-style: wavy;
  }
  .shadowStory {
    box-shadow:
      rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
</style>
