---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Donas artesanales frescas y deliciosas en Panamá: variedad de sabores únicos, combos especiales y opciones personalizadas para eventos. En Dogur ofrecemos productos de calidad premium, preparados al momento para brindar una experiencia dulce, diferente y totalmente irresistible." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Dogur | Donas Artesanales</title>
  </head>
  <body class="rope">
    <slot />
  </body>
</html>
<style is:global>
  :root {
    background-color: #eeefe9;
  }
  @font-face {
    font-family: rope;
    src: url(../../public/Manrope-VariableFont_wght.ttf);
  }

  .rope {
    font-family: rope;
  }

  @font-face {
    font-family: mark;
    src: url(../../public/MarckScript-Regular.ttf);
  }

  .mark {
    font-family: mark;
  }
  .donut1 {
    background-image: url(../assets/donut1.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .donut2 {
    background-image: url(../assets/donut2.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .donut3 {
    background-image: url(../assets/donut3.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .donut4 {
    background-image: url(../assets/donut4.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .donut5 {
    background-image: url(../assets/donut5.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .donut6 {
    background-image: url(../assets/donut6.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .story {
    background-image: url(../assets/story.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .insta {
    background-image: url(../assets/insta.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .variants {
    background-image: url(../assets/variants.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .banner {
    background-image: url(../assets/banner.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .user {
    background-image: url(../assets/user.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }

  .testimonial_M1 {
    background-image: url(../assets/testimonial_M1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .testimonial_M2 {
    background-image: url(../assets/testimonial_M2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .testimonial_M3 {
    background-image: url(../assets/testimonial_M3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .testimonial_M4 {
    background-image: url(../assets/testimonial_M4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .testimonial_M5 {
    background-image: url(../assets/testimonial_M5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .testimonial_H1 {
    background-image: url(../assets/testimonial_H1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .testimonial_H2 {
    background-image: url(../assets/testimonial_H2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .testimonial_H3 {
    background-image: url(../assets/testimonial_H3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .testimonial_H4 {
    background-image: url(../assets/testimonial_H4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .testimonial_H5 {
    background-image: url(../assets/testimonial_H5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .testimonial_H6 {
    background-image: url(../assets/testimonial_H6.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .testimonial_H7 {
    background-image: url(../assets/testimonial_H7.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .bannerShadowBot {
    background: linear-gradient(
      360deg,
      rgba(28, 28, 28, 0.89) 1%,
      rgba(28, 28, 28, 0) 40%
    );
  }

  .storyShadowBot {
    background: linear-gradient(
      360deg,
      rgba(28, 28, 28, 0.764) 1%,
      rgba(28, 28, 28, 0) 25%
    );
    @apply rounded-3xl;
  }

  .reviewShadowBot {
    background: linear-gradient(
      360deg,
      rgb(238, 239, 233) 1%,
      rgba(238, 239, 233, 0) 40%
    );
  }

  .fixedCenterY {
    top: 50%;
    transform: translateY(-50%);
  }

  .fixedCenterX {
    left: 50%;
    transform: translateX(-50%);
  }

  .fixedCenterXnY {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .turn {
    transform: scaleX(-1);
  }
  .glass {
    background: rgba(238, 239, 233, 0.89);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5.7px);
  }
  .wavy {
    text-decoration: underline;
    -webkit-text-decoration-color: #9959d0;
    text-decoration-color: #9959d0;
    -webkit-text-decoration-style: wavy;
    text-decoration-style: wavy;
  }
  .shadowStory {
    box-shadow:
      rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  .menuHover {
    text-decoration: none;
    display: inline-block;
    position: relative;
  }
  .menuHover:after {
    background: none repeat scroll 0 0 transparent;
    top: 60%;
    transform: translateY(-50%);
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #9959d0;
    transition:
      width 0.3s ease 0s,
      left 0.3s ease 0s;
    width: 0;
  }
  .menuHover:hover:after {
    width: 100%;
    left: 0;
  }

  .menuSelected {
    text-decoration: none;
    display: inline-block;
    position: relative;
  }
  .menuSelected:after {
    background: none repeat scroll 0 0 transparent;
    top: 60%;
    transform: translateY(-50%);
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #9959d0;
    width: 100%;
    left: 0;
  }
  .purchaseBtn {
    transition: all 0.1s ease-out;
  }
  .purchaseBtn:active {
    transform: scale(0.9);
  }
</style>
